@model List<Empleado>

<h1 style="color:blue">
    Buscador empleados
</h1>
<a asp-controller="Empleados" asp-action="TodosEmpleados">
    Listado de empleados
</a>

<form method="post">
    <label>Salario: </label>
    <input type="number" name="salario"
           class="form-control"/><br/>
    <label>Oficio: </label>
    <input type="text" name="oficio"
           class="form-control"/><br/>
    <button type="submit" class="btn btn-outline-info">
        Buscar empleados
    </button>
</form>
<hr/>
@if (Model != null)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado empleado in Model)
                {
                    <tr>
                        <td>@empleado.Apellido</td>
                        <td>@empleado.Oficio</td>
                        <td>@empleado.Salario</td>
                    </tr>
                }
        </tbody>
    </table>
}