@model List<Empleado>

<h1>Todos empleados LINQ to SQL</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Empleados"
           asp-action="BuscarEmpleadosOficioSalario">
            Buscar empleados
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="IncrementarSalarios">
            Incrementar salarios oficio
        </a>
    </li>
</ul>



<table class="table table-active">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                    <td>
                        <a asp-controller="Empleados"
                           asp-action="Details" class="btn btn-success"
                           asp-route-idempleado="@emp.IdEmpleado">
                            Detalles
                        </a>
                    </td>
                </tr>
            }
    </tbody>
</table>